footer {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 75px;
}

footer img {
    margin-top: 25px;
    margin-right: 10px;
}

footer p {
    color: white;
    font-family: 'Roboto', black;
    text-transform: uppercase;
    font-size: 10px;
    white-space: nowrap;
    display: inline;
    margin-right: 140px;
}

.margin {
    padding-bottom: 100px;
}

footer a p {
    color: white;
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
}

footer a p:hover {
    color: var(--green);
    text-decoration: underline;
}